@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import './components/Card.css';
@import './components/Chart.css';
@import './components/ExpenseFilter.css';
@import './components/ExpenseForm.css';
@import './components/ExpenseDate.css';
@import './components/ExpenseItem.css';
@import './components/Expenses.css';
@import './components/ExpensesList.css';
@import './components/NewExpense.css';
* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    background-color: #3f3f3f;
}

.app {
    width: 95%;
    margin: 0 auto;
}